* {
    font-size: 100%;
    font-family: 'Open Sans';
}

.upper_background {
    background-color: white;
}

.gradient_background {
    position: relative;
    height: 250px;
    background: linear-gradient(126deg, #24335b 23%, #004373 77%);
    z-index: -2;
}

.footer_background {
    width: 100%;
    background: #004373;
    position: absolute; 
    bottom: 0px; 
}

.interpol_image {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    height: 92px;
}

.interpol_image_background {
    position: absolute;
    right: 15px;
    top: -150%;
    height: 600px;
    z-index: -1;
}

h1 {
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 5000;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

caption {
    text-align: left;
    font-size: 38px;
}

.wanted_p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-block-start: 4px;
    margin-block-end: 4px;
}

.footer_buttons {
    height: 50px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.main_div {
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: max-content repeat(3, auto);
    column-gap: 18px;
    grid-template-areas:
    "A B B B"
    "A C D E";

    position: absolute;
    top: 530px;
    left: 50%;
    height: 650px;
    width: 1450px;
    transform: translate(-50%, -50%);
}

.attribute_name {
    width: 100px;
}

.attribute {
    font-weight: bolder;
}

 #item-0 {
    grid-area: A;  
 }

 #item-1 {
    grid-area: B; 
 }

 #item-2 {
    grid-area: C;
 }

 #item-3 {
    grid-area: D;
 }

 #item-4 {
    grid-area: E;
 }